@import './icon.css';
@import '../fonts/iconfont.css';
@import './base.css';
@import './mint-ui.css';

body {
    font-size: .28rem;
    /* 14px */
}

.flex {
    display: flex;
}

.flex-fixed {
    flex-grow: 0;
    flex-shrink: 0;
}

.flex-fill {
    flex: 1 1;
    /* flex-grow: 1;
    flex-shrink: 1; */
}